* {
    box-sizing: border-box;
  }
  
  body {
    background-image: linear-gradient(90deg, #ff9e85, #ff6873, #bd4561, #882f51);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  h1 {
    margin: center;
  }
  
  .empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px #74283d;
    background-image: linear-gradient( to bottom, #f3f3f3, #e2e5e4, #a9b0cc);
    border-radius: 20px;
  }
  
  .fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 145px;
    width: 145px;
    cursor: pointer;
    border-radius: 17px;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }
  
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }